@using MetaFrm.Control
@using MetaFrm.Database
@using MetaFrm.Management.Razor.Models
@using MetaFrm.Razor.Essentials
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<TitleControl Title="@this.GetAttribute("Description")"></TitleControl>

<DataGridControl TItem="CommonClassModel" @ref="this.DataGridControl" DataItems="this.A003ViewModel.SelectResultModel" PagingEnabled="true" PagingSize="@this.PagingSize"
                 RowAdd="this.New"
                 MovePage="this.Search"
                 RowModify="this.RowModify"
                 Columns="@(new ColumnDefinitions[] {
                    new(DbType.Int, SortDirection.Normal, Alignment.Right, nameof(CommonClassModel.CLASS_ID), "Assembly ID", "d-none d-md-table-cell"),
                    new(DbType.NVarChar, SortDirection.Ascending, Alignment.NotSet, nameof(CommonClassModel.CLASS_NAME), "Class name"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.NotSet, nameof(CommonClassModel.KEY_VALUE), "Key name")})">
    <SearchInputControl>
        <input type="text" class="form-control rounded-start" placeholder="Search" @bind-value="@this.A003ViewModel.SearchModel.SEARCH_TEXT" @onkeyup="@SearchKeydown" />
    </SearchInputControl>
    <SearchButtonControl>
        <button class="btn btn-outline-primary btn-rounded-end" type="submit" @onclick="(() => this.OnSearch())">
            <span class="oi oi-magnifying-glass" />
        </button>
    </SearchButtonControl>
</DataGridControl>

<ModalControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_ID))" HeaderText="@(this.SelectItem == null || this.SelectItem.CLASS_ID == null ? "New" : "Edit")">
    <Control>
        <EditForm class="container" Model="@this.SelectItem" OnValidSubmit="this.Save">
            <DataAnnotationsValidator />

            <FieldControl Label="Class ID" Value="this.SelectItem.CLASS_ID"></FieldControl>

            <div class="row py-2">
                <FieldControl Label="Class name">
                    <Control>
                        <InputText id="classname" class="form-control" placeholder="Class name" @bind-Value="this.SelectItem.CLASS_NAME" />
                        <ValidationMessage For="@(()=>this.SelectItem.CLASS_NAME)" />
                    </Control>
                </FieldControl>
                <FieldControl Label="Key name">
                    <Control>
                        <InputText id="keyname" class="form-control" placeholder="Key name" @bind-Value="this.SelectItem.KEY_VALUE" />
                        <ValidationMessage For="@(()=>this.SelectItem.KEY_VALUE)" />
                    </Control>
                </FieldControl>
            </div>
            <div class="row py-2">
                <FieldControl Label="Inactive" CssClassControl="row">
                    <Control>
                        <div class="py-1 col-lg-6">
                            <InputDate id="inactivedate" class="form-control" placeholder="Inactive Date" Type="InputDateType.Date" @bind-Value="this.SelectItem.INACTIVE_DATE" @bind-Value:format="yyyy-MM-dd" />
                        </div>
                        <div class="py-1 col-lg-6">
                            <InputDate id="inactivetime" class="form-control" placeholder="Inactive Time" Type="InputDateType.Time" @bind-Value="this.SelectItem.INACTIVE_DATE" @bind-Value:format="HH:mm" />
                        </div>
                        <ValidationMessage For="@(()=>this.SelectItem.INACTIVE_DATE)" />
                    </Control>
                </FieldControl>
            </div>
            <CardControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_ID))"
                         CssClass="@(this.SelectItem == null || this.SelectItem.CLASS_ID == null ? "card border-primary mb-2" : "card mb-2")" HeaderText="Text value"
                         Minimize="(() => {this.CardWindowStatusText = CardWindowStatus.Minimize; return;} )" Maximize="(() => {this.CardWindowStatusText = CardWindowStatus.Maximize; return;} )" CardWindowStatus="this.CardWindowStatusText">
                <Text>
                    <div class="row">
                        <FieldControl Label="Text name1"><Control><InputText id="textname1" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE1" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE1)" /></Control></FieldControl>
                        <FieldControl Label="Text name2"><Control><InputText id="textname2" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE2" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE2)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Text name3"><Control><InputText id="textname3" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE3" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE3)" /></Control></FieldControl>
                        <FieldControl Label="Text name4"><Control><InputText id="textname4" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE4" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE4)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Text name5"><Control><InputText id="textname5" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE5" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE5)" /></Control></FieldControl>
                        <FieldControl Label="Text name6"><Control><InputText id="textname6" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE6" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE6)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Text name7"><Control><InputText id="textname7" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE7" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE7)" /></Control></FieldControl>
                        <FieldControl Label="Text name8"><Control><InputText id="textname8" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE8" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE8)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Text name9"><Control><InputText id="textname9" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE9" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE9)" /></Control></FieldControl>
                        <FieldControl Label="Text name10"><Control><InputText id="textname10" class="form-control" placeholder="" @bind-Value="this.SelectItem.TEXT_VALUE10" /><ValidationMessage For="@(()=>this.SelectItem.TEXT_VALUE10)" /></Control></FieldControl>
                    </div>
                </Text>
            </CardControl>
            <CardControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_ID))"
                         CssClass="@(this.SelectItem == null || this.SelectItem.CLASS_ID == null ? "card border-primary mb-2" : "card mb-2")" HeaderText="Int value"
                         Minimize="(() => {this.CardWindowStatusInt = CardWindowStatus.Minimize; return;} )" Maximize="(() => {this.CardWindowStatusInt = CardWindowStatus.Maximize; return;} )" CardWindowStatus="this.CardWindowStatusInt">
                <Text>
                    <div class="row">
                        <FieldControl Label="Int name1"><Control><InputText id="intname1" class="form-control" placeholder="" @bind-Value="this.SelectItem.INT_VALUE1" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE1)" /></Control></FieldControl>
                        <FieldControl Label="Int name2"><Control><InputText id="intname2" class="form-control" placeholder="" @bind-Value="this.SelectItem.INT_VALUE2" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE2)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Int name3"><Control><InputText id="intname3" class="form-control" placeholder="" @bind-Value="this.SelectItem.INT_VALUE3" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE3)" /></Control></FieldControl>
                        <FieldControl Label="Int name4"><Control><InputText id="intname4" class="form-control" placeholder="" @bind-Value="this.SelectItem.INT_VALUE4" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE4)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Int name5"><Control><InputText id="intname5" class="form-control" placeholder="" @bind-Value="this.SelectItem.INT_VALUE5" /><ValidationMessage For="@(()=>this.SelectItem.INT_VALUE5)" /></Control></FieldControl>
                    </div>
                </Text>
            </CardControl>
            <CardControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_ID))"
                         CssClass="@(this.SelectItem == null || this.SelectItem.CLASS_ID == null ? "card border-primary mb-2" : "card mb-2")" HeaderText="Number value"
                         Minimize="(() => {this.CardWindowStatusNumber = CardWindowStatus.Minimize; return;} )" Maximize="(() => {this.CardWindowStatusNumber = CardWindowStatus.Maximize; return;} )" CardWindowStatus="this.CardWindowStatusNumber">
                <Text>
                    <div class="row">
                        <FieldControl Label="Number name1"><Control><InputText id="numbername1" class="form-control" placeholder="" @bind-Value="this.SelectItem.NUMBER_VALUE1" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE1)" /></Control></FieldControl>
                        <FieldControl Label="Number name2"><Control><InputText id="numbername2" class="form-control" placeholder="" @bind-Value="this.SelectItem.NUMBER_VALUE2" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE2)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Number name3"><Control><InputText id="numbername3" class="form-control" placeholder="" @bind-Value="this.SelectItem.NUMBER_VALUE3" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE3)" /></Control></FieldControl>
                        <FieldControl Label="Number name4"><Control><InputText id="numbername4" class="form-control" placeholder="" @bind-Value="this.SelectItem.NUMBER_VALUE4" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE4)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Number name5"><Control><InputText id="numbername5" class="form-control" placeholder="" @bind-Value="this.SelectItem.NUMBER_VALUE5" /><ValidationMessage For="@(()=>this.SelectItem.NUMBER_VALUE5)" /></Control></FieldControl>
                    </div>
                </Text>
            </CardControl>
            <CardControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_ID))"
                         CssClass="@(this.SelectItem == null || this.SelectItem.CLASS_ID == null ? "card border-primary mb-2" : "card mb-2")" HeaderText="Datetime value"
                         Minimize="(() => {this.CardWindowStatusDatetime = CardWindowStatus.Minimize; return;} )" Maximize="(() => {this.CardWindowStatusDatetime = CardWindowStatus.Maximize;return;} )" CardWindowStatus="this.CardWindowStatusDatetime">
                <Text>
                    <div class="row">
                        <FieldControl Label="Datetime name1"><Control><InputText id="datetimename1" class="form-control" placeholder="" @bind-Value="this.SelectItem.DATETIME_VALUE1" /><ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE1)" /></Control></FieldControl>
                        <FieldControl Label="Datetime name2"><Control><InputText id="datetimename2" class="form-control" placeholder="" @bind-Value="this.SelectItem.DATETIME_VALUE2" /><ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE2)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Datetime name3"><Control><InputText id="datetimename3" class="form-control" placeholder="" @bind-Value="this.SelectItem.DATETIME_VALUE3" /><ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE3)" /></Control></FieldControl>
                        <FieldControl Label="Datetime name4"><Control><InputText id="datetimename4" class="form-control" placeholder="" @bind-Value="this.SelectItem.DATETIME_VALUE4" /><ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE4)" /></Control></FieldControl>
                    </div>
                    <div class="row">
                        <FieldControl Label="Datetime name5"><Control><InputText id="datetimename5" class="form-control" placeholder="" @bind-Value="this.SelectItem.DATETIME_VALUE5" /><ValidationMessage For="@(()=>this.SelectItem.DATETIME_VALUE5)" /></Control></FieldControl>
                    </div>
                </Text>
            </CardControl>

            <CommandControl TItem="CommonClassModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.CLASS_ID))" SaveIsSubmit="true" New="this.New" Copy="this.Copy" Delete="this.Delete" />
        </EditForm>
    </Control>
</ModalControl>